h1 {
  color: red;
}

:host {
  border: 5px solid red;
  display: block;
}

.red-cube {
  width: 100px;
  height: 100px;
  background-color: red;
}

.blue-cube {
  width: 100px;
  height: 100px;
  background-color: blue;
}
